<form action="/product" method = "post">
<input type="text" name="name" placeholder="Nome do Produto" required = "required">
<input type="text" name="price" placeholder="Preço do produto" required = "required">
<br>
<textarea type="text" name="description" placeholder="Descrição do produto"></textarea>
<br>
<button type = "submit">Criar produto!</button>
</form>

<br>
<a href="/allProducts"> <button>Ver todos os produtos</button> </a>